body {
    margin:0;
    background: url("../img/Doctor-All2.png") no-repeat fixed center center;
    background-size:  cover;
}
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}

.wrapper{
    overflow:auto;
}

.left{
   float:left;
    width:70%;
}

.right{
    float:right;
    width:30%;
}​
 tbody {
     display: table-row-group;
     vertical-align: middle;
     border-color: inherit;
 }
#sideHeader {
    background-color: #ccc;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}
#sideContent {
    background-color: #fff;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    font-size: 11px;
    padding: 5px;
}